.loginMain {
  display:flex;
  flex-direction: row;
  overflow: hidden;
}

.loginLeft {
  width: 50vw;
  height: 100vh;
}

.formContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 360px;
  /* justify-content: space-evenly; */
}

.loginField {
  background-color: #C1C8E4 !important;
  height: 30px;
  width: 100%;
  margin: 10px 0px;
  padding: 1px;
  border: 1px solid #C1C8E4;
}

.loginField:focus {
  background-color: #C1C8E4 !important;
  border: 1px solid #8860D0;
}

.loginField:active {
  background-color: #C1C8E4 !important;
  border: 1px solid #8860D0;
}

.loginSubmitButton {
  height: 30px;
  width: 100%;
  margin: 10px 0px
}

.loginRight {
  overflow: hidden;
}

.loginImg {
  height: 100vh;

}
