.loginMain {
  display:flex;
  flex-direction: row;
  overflow: hidden;
}

.loginLeft {
  width: 40vw;
  height: 100vh;
}


.form_logo {
  width:100%;
 }

.formContainer {
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;
  object-fit: contain;
}

.loginField {
  background-color: #C1C8E4 !important;
  height: 30px;
  width: 97%;
  margin: 10px 0px;
  padding: 1px;
  border: 1px solid #C1C8E4;
  border: 1px solid #8860D0;
  padding-left: 10px;
}

.loginField:focus {
  background-color: #C1C8E4 !important;
  border: 1px solid #8860D0;
}

.loginField:active {
  background-color: #C1C8E4 !important;
  border: 1px solid #8860D0;
}

.loginSubmitButton {
  height: 30px;
  width: 100%;
  margin: 10px 0px
}

.loginRight {
  width: 60vw;
  overflow: hidden;
}

.loginImg {
  margin-left: -100px;
  height: 100vh;

}
