.feed_main_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/********************/

.event_tiles_container{
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 2%;
  margin-top: 25px;
}

.event_tile {
  max-width: 285px;
  height: 285px;
  border-radius: 15px;
  overflow: hidden;
 }
.event_img_container {
  height: 125px;
  overflow: hidden;
}
 .event_img {
   margin-top: -10px;
   width: 100%;
 }
.event_name_link {
  margin-top: 50px;
  font-weight: bold;
  text-decoration: none;
}
