* {
  color: #39364f;

}

.form_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C1C8E4;
}

.form {
  width: 75%;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors_container {
  background-color: #C1C8E4;
  position: relative;
  height: 150px;
  width: 50%;
}

.errors_img {
  position: absolute;
  width: 100%;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors_ul {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page_container {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 480px;
  padding: 15px;
  border-radius: 15px;
}

.buttons_container {
  display: flex;
  flex-direction: column;
}

.create_event_form_field {
  height: 32px;
  padding: 2px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 5px;
}

.create_event_form_field_d {
  height: 64px;
  padding: 2px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 5px;
}

.select_fields_gt {
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: 5px 0px 5px 0px;
  justify-content: space-around;
  margin-left: -25px;
}


.create_event_form_field_a {
  height: 32px;
  padding: 2px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 17px 5px 5px 5px;
}

.create_event_form_field_s {
  height: 32px;
  padding: 2px;
  width: 92%;
}

.select_fields {
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: 5px 0px 5px 0px;
}

.create_event_select_field {
  height: 32px;
  padding: 2px;
  width: 50%;
}

.create_event_select_field_z {
  height: 32px;
  padding: 2px;
  width: 52%;
  margin: 3px;
  border-radius: 7px;
  border: 1px solid #cccccc;
}

.create_event_form_field_l {
  height: 32px;
  padding: 2px;
  width: 92%;
  border-radius: 7px;
  border: 1px solid #cccccc;
  margin: 15px 5px 0px 0px;
}

.dnd_container {
  background-color: #F0F0F0;
  width: 50%;
  height: 470px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.dnd_container:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.img_preview {
  width: 200px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 30px;
}

.thumb {
  width: 100%;
}

.event_submit_button {

    background-color: #C1C8E4;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    padding: 5px;

}

.event_submit_button:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #39364f;
}


.form_nav_buttons {
  display: flex;
  flex-direction: row;

}



.form_nav_button {
  background-color: #84CEEB;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 100px;
}

#prev {
  justify-self: flex-start
}

.form_nav_button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #39364f;
}

.summary_page_container {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 500px;
  border-radius: 15px;

}

.summary_page_container_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  height: 100%;
  padding: 15px;
}

.summary_page_container_right {

  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  height: 100%;
  /* padding: 15px; */
}


.img_preview_summary {
  width: 50%;
  height: 150px;

}


.description_scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 175px;
  width: 100%;
}

.genres_types {
  display: flex;
  width: 100%;
}
