* {
  color: #39364f;


}

.form_container {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #39364f
}

.form_header {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #C1C8E4;
  /* background-color: blue; */
}

#cancel_button {
  margin-left: auto;
  margin-right: 25px;
  font-size: 30px;
  color: #C1C8E4;
}

.form_header h1{
  margin-left: auto;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 15px 15px 15px 15px;
}

.errors_container {
  background-color: #FAFAFA;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors_img {
  position: absolute;
  width: 100%;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors_ul {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page_container {
  /* background-color: #F0F0F0; */

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 450px;
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
}

.buttons_container {
  display: flex;
  flex-direction: column;

}

.create_event_form_field {
  height: 32px;
  padding: 6px;
  width: 90%;
  margin: 5px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #CCCCCC;
  font-size: 16px;

}

.create_event_form_field_d {
  height: 64px;
  padding: 6px;
  width: 90%;
  border-radius: 6px;
  margin: 5px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #CCCCCC;
  font-size: 16px;
;
}

.select_fields_gt {
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: 5px 0px 5px 0px;
  justify-content: space-around;
  margin-left: -25px;
}


.create_event_form_field_a {
  height: 32px;
  padding: 4px;
  width: 90%;
  border-radius: 6px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #CCCCCC;
  margin: 35px 5px 5px 5px;
  font-size: 16px;
}

.create_event_form_field_s {
  height: 32px;
  padding: 2px;
  width: 93%;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #CCCCCC;
  font-size: 15px;

}

.select_fields {
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: 5px 0px 5px 0px;
}

.create_event_select_field {
  height: 32px;
  /* padding: 2px; */
  width: 50%;
}

.create_event_select_field_z {
  height: 32px;
  padding: 2px;
  width: 52%;
  /* margin: 3px; */
  /* margin: 5px; */
  border-style: none none solid none;
  border-width: 1px;
  border-color: #CCCCCC;
  font-size: 16px;
}

.create_event_form_field_l {
  height: 32px;
  padding: 2px;
  width: 92%;
  border-radius: 7px;
  border: 1px solid #cccccc;
  margin: 15px 5px 0px 0px;
}

.dnd_container {
  /* background-color: #FFFFFF; */
  width: 500px;
  height: 425px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 15px;
}

/* .dnd_container:hover {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);

} */

.img_preview {
  width: 100%;
  height: 275px;
  object-fit: contain;
  background-color: #FAFAFA;
  /* padding: 15px 0px 15px 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.event_submit_button {

    background-color: #C1C8E4;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    padding: 5px;

}

.event_submit_button:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #39364f;
}


.form_nav_buttons {
  background-color: #FAFAFA;
  width: 100%;
  height: 75px;
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0px 0px 15px 15px;
}



.form_nav_button {
  background-color: #84CEEB;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 100px;
  height: 40px;
}


.form_cancel_button {
  background-color: #84CEEB;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 100px;
  height: 40px;
}

#prev {
  justify-self: flex-start
}

.form_nav_button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #39364f;
}

.img_preview_summary {
  width: 800px;
  height: 370px;
  object-fit: contain;
  background-color: #FAFAFA;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary_page_container {

  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
  height: 300px;

}


.summary_page_container_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:60%;
  height: 100%;

}

.summary_page_container_right {

  display: flex;
  flex-direction: column;
  align-items: center;
  width:40%;
  height: 100%;
  /* padding: 15px; */
}

.summary_page_container p {
  display: inline-block;
  background-color: #FFFFFF;
  height: 32px;
  padding: 2px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 5px;
}




.description_scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 145px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description_scroll p {
  display: inline-block;
  background-color: #FFFFFF;
  height: 145px;
  padding: 2px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 5px;
}

.genres_types {
  display: flex;
  width: 100%;
}


/****************confirm cancel modal****************/

.confirm_delete_container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

.event_cancel_buttons {
  height: 50px;
}

.confirm_delete_button {
  background-color: #C1C8E4;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  padding: 5px;
}

.confirm_delete_button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #39364f;
}

.confirm_delete_button_2 {
  background-color: #C1C8E4;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 150px;
}

.confirm_delete_button_2:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #39364f;
}
