* {
  font-family: 'Roboto', sans-serif;
}


.mainNavContainer {
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: #FFFFFF;
}

.centerNavContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

/* font-size: 50px; */
/* color: black; */
.hamburgerContainer {
  height: 100%;
  width: 100%;

}

.homeLogo {

  /* justify-self: flex-start; */
  margin: 10px;
}

.navLogo {
  height: 40px;
}

.navLogo:hover {
  height: 40.5px;
}

.navBarRight {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.userLinks {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.userText {
  display: flex;
  align-items: center;
  width: 130px;
  color: #39364F;
}

.buttonContainer:hover
.dropdownContent {
  display: flex;
  flex-direction: column;
}

.linksContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
}


.navBarLink {
  color: #39364F;
  display: flex;
  height: 100%;
  /* width: 110px; */
  margin-right: 20px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 15px;
}

.navBarLinkText {
  color: #39364F;
  text-decoration: none;
}

.navBarLinkText:hover {
  color: #C1C8E4;
}


/*************media queries***************************/

/*  850    */



@media screen and (max-width: 850px) {


.centerNavContainer {
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: #FFFFFF;
}

}
