.mainNavContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centerNavContainer {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.homeLogo {

  justify-self: flex-start;
}

.navLogo {
  height: 40px;
}
