body {
  font-family: 'Roboto', sans-serif;
}


.mainNavContainer {
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #FFFFFF;
}

.centerNavContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

/* font-size: 50px; */
/* color: black; */
.hamburgerContainer {
  height: 100%;
  width: 100%;

}

.homeLogo {

  /* justify-self: flex-start; */
  margin: 10px;
}

.navLogo {
  height: 40px;
}

.navLogo:hover {
  height: 40.5px;
}

.navBarRight {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.userLinks {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userText {
  display: flex;
  align-items: center;
  width: 130px;
  color: #39364F;
}

.buttonContainer:hover
.dropdownContent {
  display: flex;
  flex-direction: column;
}

.linksContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.hamburger {
  display: none;
}

.hamburger_container {
  width: 50px;
  height: 100%;
  background-color: blue;
}

.navBarLink {
  color: #39364F;
  display: flex;
  height: 100%;
  /* width: 110px; */
  margin-right: 20px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 15px;
}

.navBarLinkText {
  color: #39364F;
  text-decoration: none;
}

.navBarLinkText:hover {
  color: #C1C8E4;
}

/*************************************/
.dropdownContent {
  margin-top: 10px;
  display: none;
  position: absolute;
  left: 20px;
  background-color: #FFFFFF;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
  padding: 10px 0px 10px 10px;
}

.dropdownContent a {
  color: #39364F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hamburger:hover
.dropdownContent {
  display: flex;
  flex-direction: column;
}

.dropdownContent a:hover {
  background-color: #C1C8E4;
}



/*************media queries***************************/

/*  850    */



@media screen and (max-width: 850px) {


/* .dropdownContent {
  z-index: 3;
} */


.mainNavContainer {

  z-index: 9;

}
.centerNavContainer {
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  position: fixed;
  z-index: 1;
  background-color: #FFFFFF;
  padding: 0px 25px;
}

.hamburger {
  display: inline;
  left: 0;
  margin-left: 25px;
  margin-top: 25px;
  cursor: pointer;
  height: 100%;
  /* justify-content: center */

}

.navBarRight {
 display: none;
}

.navBarLink {
  display: none;
}

.homeLogo {
  margin-right: 25px;
}

}
